{% extends '::base.html.twig' %}

{% block body %}
	<!-- Content -->
<section id="content">
    <div class="container_12">
        <div class="">
            <h1>Nieuws</h1>
          
        	<div class="clear"></div>
        </div>
    </div>
</section>

{% endblock %}
