/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

@import url(http://fonts.googleapis.com/css?family=Keania+One);
@import"reset.css";
@import"grid.css";
html{overflow-y: scroll;}
body{background:#000000 url(/images/back_all.jpg) fixed center top no-repeat;font:13px/22px Arial, Times, serif;color:#fff;position:relative;min-width:980px;}
html,body{height:100%;}
p,.p{padding-bottom:22px;}
.p0 {padding-bottom:0 !important;}
.p1 {padding-bottom:0;}
a{color:#ffffff;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#ffffff;font-family: 'Keania One', cursive;text-transform:none;font-weight:normal;padding-bottom:8px;}
h1{font-size:40px;padding-bottom:23px;}
h2{font-size:35px;}
h3{font-size:30px;} 
h4{font-size:27px;}  
h5{font-size:25px;}
h6{font-size:20px;}
/* Global Structure---------------------------------------- */
.main {width:940px;padding:0;margin:0 auto;position:relative;}
.wrapper {width:100%;overflow:hidden;}
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left !important;}
.fright{float:right !important;}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.d-in-block {display:inline-block;}
.d-block {display:block;}
.reg {text-transform:uppercase;}
.reg-2 {font-weight:bold;}
.rel {position:relative;}
.color1{color:#ff2100;}
.color2{color:#fff;}
/*********************************header*************************************/
header {
	background:url(/images/header.png) left top repeat;
}
.header_bg1 {
	background:url(/images/header_bg1.png) center top no-repeat;
}
.header_bg2 {
	background:url(/images/header_bg2.png) center top repeat-x;
	padding:67px 0 60px;
	position:relative;
}
header h1 {
	padding:0;
	position:absolute;
	top:32px;
	left:50%;
	margin-left:-122px;
	z-index:99;
}

header h2 {
	padding:0;
	position:absolute;
	top:82px;
	left:50%;
	margin-left:-92px;
	z-index:98;
	font-size: 16px;
}
	header h1 a {
		display:block; 
		width:244px;
		height:30px;
		font-size: 30px;
		color: #000000;
}

	header h2 {
		display:block; 
		width:244px;
		height: 30px;
		color: #000000;
		
}

 header a:hover
 {text-decoration: none}

/********************** Slider *************************/
#my_slider
{
display: block;
width: 948px;
height: 314px;
background: #000000;
margin: 0 auto;
padding-top: 8px;
}

/********************** Content ************************/
section#content {
	position:relative;
	z-index:1;

	padding:50px 0 42px;
	border-bottom:1px solid #c7d1d4;
}
section#content-2 {
	background:#022029;
	padding:45px 0;
	text-transform:uppercase;
	color:#608e9d;
	font-size:14px;
	line-height:24px;
}
section#content-2 h1 {
	color:#fff;
}
/******************** Footer ******************/
footer {
	font-size:14px;
	line-height:24px;
	color:#608e9d;
	padding:40px 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
footer a {
	color:#608e9d;
}
/*********************************boxes**********************************/
.indent {padding:9px 0 0 14px;}

.indent-left {padding-left:0;}

.indent-bottom {padding-bottom:0;}

.indent-right {padding-right:50px;}

.indent-top {padding-top:0;}

.margin-top { margin-top:0;}

.margin-bot {margin-bottom:50px;}
.margin-bot1 {margin-bottom:42px;}
.margin-bot2 {margin-bottom:10px;}

.margin-left {margin-left:40px;}

.margin-right {margin-right:0;}

.img-indent {float:left; margin:7px 20px 20px 0px;}
.img-indent-2 {float:left; margin:7px 15px 0px 0px;}
.figure-1 img {
	display:inline-block;
	border:7px solid #fff;
	box-shadow:1px 2px #021a21;
}
.figure-2 figcaption {
	overflow:hidden;
	padding-top:25px;
}
.figure-2 img,.map {
	border:7px solid #fff;
	box-shadow:1px 2px #cad6da;
	display:inline-block;
}
.map {
	margin-bottom:15px;
}
.figure-2 .lightbox-image-2 {
	position:relative;
	display:block;
}
.figure-2 .lightbox-image-2 span,.figure-2 .lightbox-image-2 b {
	position:absolute;
	display:block;
	left:50%;
	top:50%;
	bottom:50%;
	right:50%;
	background:url(/images/light_box.png) left top repeat;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.figure-2 .lightbox-image-2 b {
	background:url(/images/plus.png) center center no-repeat;
	opacity:0;
}
.figure-2 .lightbox-image-2:hover b {
	opacity:1;
}
.figure-2 .lightbox-image-2:hover span,.figure-2 .lightbox-image-2:hover b {
	left:3%;
	top:3%;
	bottom:3%;
	right:3%;
}
.figure-2 figcaption span {
	display:block;
	font-size:27px;
	color:#ed1f27;
	margin-top:-6px;
}
/***** menu *****/
nav {
	width:100%;
}
.menu {
	width:100%;
	padding:0;
	position:relative;
	z-index:20;
	font-family: 'Keania One', cursive;
}
.menu li {
	float:left; 
	position:relative;
	text-transform:uppercase;
}
.menu>li,.menu>li.un_border {
	background:url(/images/border.png) left 3px no-repeat;
	padding-left:18px;
	margin-left:16px;
}
.menu li:first-child,.menu>li.un_border {
	background:none;
	padding-left:0;
	margin-left:0;
}
.menu li a {
	display:block;
	font-size: 22px;
	line-height:15px;
	color:#fff;
	position:relative;
	z-index:20;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.menu li.sfHover {
	position:relative;
	z-index:10;
}
.menu li a:hover {
	text-decoration:none;
}
.menu li a.active,
.menu > li > a:hover,
.menu > li.sfHover > a {
	color:#ed1f28;
}
.menu li a .sf-sub-indicator {
	display:block;
	position:absolute;
	width:14px;
	height:12px;
	background:url(/images/sub-1.png) left top no-repeat;
	overflow:hidden;
	top:-999em;
	text-indent:-999em;
}

.menu ul {
	z-index:20;
	letter-spacing:normal;
	position:		absolute;
	top:			-9999em;
	width:			127px;
	background:#ed1f28;
	border:			none;
	text-align:center;
	padding:22px 0 24px;

}
.menu ul ul {
	background:#32b3e1;
}
.menu ul li {width:	100%;}
.menu li:hover {visibility:	inherit; }
.menu li li {
	background:url(/images/menu.png) center top no-repeat;
	margin:0;
	border:none;
}
.menu li li:first-child {
	background:none;
}
.menu li li a {
	background:none;
	display:		block;
	padding:		6px 0 5px;
	font-size:		14px;
	line-height:	17px;
	color:			#fff;
}
.menu li li > a:hover, 
.menu li li.sfHover > a {
	color:#1d1d1d; 
}



/*********************************bg's*************************************/
.bg-1 {
	/*background:url(/images/bg-1.jpg) center top no-repeat #dcf4fd;*/
}
.bg-2 {
	background:url(/images/bg-2.png) left top repeat-x;
	padding:37px 0;
}
.border-1 {
	border-bottom:1px solid #354d54;
	padding-bottom:47px;
}
.border-2 {
	border-bottom:1px solid #354d54;
	padding-bottom:12px;
	margin-bottom:12px;
}
.border-3 {
	border-bottom:1px solid #d1e4e9;
	padding-bottom:40px;
	margin-bottom:40px;
}
.time {
	display:blockl;
	width:60px;
	padding:11px 0 15px;
	text-align:center;
	background:#022029;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	color:#fff;
}
/*********************************buttons*************************************/
.link-1 {
	font-weight:bold;
	color:#fff;
}
.link-2 {
	color:#022029;
}
/*********************************lists*************************************/
.dl-1 dt {
	font-weight:bold;
	color:#ed1f27;
}
.dl-1 dd {
	overflow:hidden;
}
.dl-1 dd span {
	display:block;
	float:left;
	width:105px;
}
.dl-1 a {
	color:#022029;
}
.soc_list {
	float:right;
	overflow:hidden;
}
.soc_list li {
	float:left;
	margin-left:6px;
}
.soc_list li a {
	display:block;
	width:32px;
	height:32px;
}

.list-1 li {
	font-size:13px;
	line-height:16px;
	padding:7px 0 8px 20px;
	background:url(/images/list-1.png) left 10px no-repeat;
	font-weight:bold;
}
.list-1 li a {
	color:#ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list-1 li a:hover {
	text-decoration:none;
	color:#ff0000;
}

/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/


#slider-wrapper {
    /*background:url(/images/top.jpg) no-repeat;*/
    width: 926px;
    height: 302px;
    margin:0 auto;
}

#slider {
	position:relative;
    width: 926px;
    height: 302px;
	background:url(/images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	
}

.nivo-controlNav {
	padding-left: 470px;
	padding-top: 282px;

}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	/*background:url(/images/bp.png) no-repeat;*/
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
	/*background:url(/images/bp_hover.png) no-repeat;*/
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
	display:none;
}
a.nivo-prevNav {
	display:none;
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

.admin-control-panel {
	width: 22em;
	padding: 0.5em;
	position: absolute;
}
.admin-control-panel li {
	float: none;
}
.admin-control-panel li .logout {
	width: 4em;
	margin-top: 1em;
	font-size: 1.2em;
	text-transform: initial;
	font-family: Georgia, "Times New Roman", Times, serif;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}